@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Sanchez:ital@0;1&family=Sansita+Swashed:wght@300..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.heading{
    margin: 30px auto;
}

h1{
    text-align: center;
    font-size: 80px;
    letter-spacing: 2px;
    font-family: "New Amsterdam", sans-serif;
    text-decoration: underline;
    font-weight: bold;
    color: transparent;
    background: url('flag.png') no-repeat;
    background-position: 50% 50%;
    background-size: 355px 80px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px rgb(0 55 133);
}

h3{
    margin-bottom: 60px;
    text-align: center;
    font-size: 40px;
    font-family: "Sansita Swashed", system-ui;
    color: #6A9C89;
}

p{
    font-family: "Sanchez", serif;
}

.content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
}

.diagram {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.diagram img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 20px;
    border: 2px solid #000;
}

footer{
    width: 100vw;
    position: fixed;
    bottom: 0px; 
    background-color: rgb(4, 107, 75);
    color: #fff;
}

footer p{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media only screen and (max-width: 1200px){
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .diagram{
        margin-bottom: 50px;
        width: 80%;
    }
}


@media only screen and (max-width: 635px){
    h1{
        font-size: 12vw;
        background-size: 60vw 8vw;
    }
    
    h3{
        font-size: 5vw;
    }

    p{
        font-size: 2vw;
    }
    
    img{
        width: 90%;
    }
}
